<mat-card class="chat-container" resize="both">
    <div class="message-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let message of messages">
            {{message.sender}} @ {{message.sent}}: {{message.content}}
        </div>
    </div>
    <form class="controls-container">
        <label for="message">Message:</label>
        <input type="text" name="message" [(ngModel)]="message" />
        <input type="submit" (click)="sendMessage()" value="Send" />
    </form>
</mat-card>
