.card {
    display: inline-block;
    width: 100px;
    height: 140px;
    margin: 5px;
    border: solid gray 2px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.card img{
    width:100px;
}

.card:hover {
    border: solid black 2px;
}

.card:focus {
    border: solid black 2px;
}