mat-card {
    border: solid black 2px;
}

mat-card-header {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-radius: 10px;
    min-height: 180px;
    max-height: 180px;
}

.suit-menu button{
    color: white
}

.red{
    background-color: #f56462;
}

.green{
    background-color: #2fe29b;
}

.blue{
    background-color: #00c3e5;
}

.yellow{
    background-color: #f7e359;
}