.main{
    height: 91.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets\image\background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

mat-card {
    min-width: auto;
    width: 350px;
    margin: 10px auto;
    border: solid 2px dodgerblue;
    border-radius: 10px;
}