<div class = main>
    <img id="backgroundimg" src="assets\image\logobackground.png" alt="background picture">
    <mat-card>
        <mat-card-title>Lobby Members ({{players.length}})</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let player of players">
                <span mat-line>{{player}}</span>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>    
</div>

<router-outlet></router-outlet>