mat-toolbar {
    display: flex;
    background: dodgerblue;
    color: white;
    overflow: hidden;
}

footer {
    width: 99%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

a.menu-item {
    margin: 5px 5px;        
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a img:focus {
    border: solid black 3px;
    background: black;  
}

a:visited {
    color: white;
}

#unoPicture {
    width: 80px;
    height: 45px;
    opacity: 0.8;
}
