mat-card-header {
    text-align: left;
}

.discard-container {
    width: 15%;
    max-width: 140px;
    margin: 10px;
    border: solid black 2px;
    text-align: center;
}

app-hand {
    width: 100%;
    margin: 10px;
}

.player-chat-container {
    flex-direction: row;
    margin: 10px;
    width: 100%;
}

.players-container {
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    right: 0;
}

.hand-discard-container {
    position: absolute;
    width: 65%;
    bottom: 0;
    display: flex;
    flex-direction: row;

}

.discard-container{
    position: absolute;
    align-items: center;
    bottom: 50%;
}

.unocall-container{
    margin-bottom: 150px;
    margin-right: 225px;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.gamebackground{
    height: 78.5vh;
    display: flex;
    justify-content: center;
    align-items: middle;
    background-image: url(assets\image\blue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}