
    <mat-card class="card">
        <mat-card-title>Current Player: {{currentPlayer}}</mat-card-title>
        <mat-card-title>Timer: {{gameTimer}}</mat-card-title>
    </mat-card>



<div class = gamebackground>
    
    <div class="player-chat-container">
        <div class="chat-container">
            <app-chat></app-chat>
        </div>
        <div class="players-container">
            <app-players></app-players>
        </div>  
    </div>

    

    <mat-card class="discard-container">
        <mat-card-title>Discard Pile</mat-card-title>
        <mat-card-content>
            <app-card [card]="discard"></app-card>
        </mat-card-content>
    </mat-card>

    <div class="hand-discard-container">  
        <app-hand></app-hand>
    </div>

    <div class="unocall-container">
    <app-unocall></app-unocall>
    </div>
    
</div>