<mat-card>
    <div class="container">
        <mat-card-title>Set You Display Name</mat-card-title>
        <form>
            <mat-form-field>
                <mat-label for="username">Display Name</mat-label>
                <input matInput name="username" type="text" placeholder="Ex. Bob" [(ngModel)]="username">
            </mat-form-field>
            <button mat-raised-button name="setName" type="submit" (click)="setDisplayName()" [disabled]="username.length === 0">Set</button>
        </form>
    </div>
</mat-card>