mat-card {
    display: inline-block;
    min-width: auto;
    width: 350px;
    margin: 10px auto;
    border: solid 2px dodgerblue;
    border-radius: 10px;
}

.mat-card-title {
    text-align: center;
}

button {
    margin-left: 10px;
}