<div class="col-lg-8 col-lg-offset-2">
    <table mat-table [dataSource]="lobbies" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let lobby"> {{lobby.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let lobby"> {{lobby.name}} </td>
        </ng-container>
        <ng-container matColumnDef="members">
          <th mat-header-cell *matHeaderCellDef> Members </th>
          <td mat-cell *matCellDef="let lobby"> {{lobby.members.length}} </td>
        </ng-container>
        <ng-container matColumnDef="join">
          <th mat-header-cell *matHeaderCellDef> Join </th>
          <td mat-cell *matCellDef="let lobby">
            <button class="btn-primary" (click)="joinLobby(lobby)">Join</button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>